@using MvcGlobalisationSupport;
@using MWWebPage.Resources;

@{
    ViewBag.Title = @Global.forgetPassword;
}

<h2>ChangePasswordPage</h2>

<div class="col-xs-offset-1 col-xs-6">
    <div id="hitPwd" class="row" style="display: none">
        <p class="bg-danger">the password should consist [a-z][A-Z][1-9]</p>
    </div>

    <div id="hitConPwd" class="row" style="display: none">
        <p class="bg-danger">different input</p>
    </div>

    <div class="row">
        <div class="form-group has-feedback">
            <label class="control-label" for="InputPassword">@Global.newed @Global.password:</label>
            <input type="password" class="form-control" id="InputPassword">
            <span class="glyphicon form-control-feedback"></span>
        </div>
    </div>

    <div class="row">
        <div class="form-group has-feedback">
            <label class="control-label" for="ConfirmPassword">@Global.confirm @Global.password:</label>
            <input type="password" class="form-control" id="ConfirmPassword">
            <span class="glyphicon form-control-feedback"></span>
        </div>
    </div>

    <button class="btn btn-primary" id="resetPwd">@Global.reset</button>
</div>

@section scripts{
    <script src="~/Scripts/Login/Login.js"></script>
    
    <script type="text/javascript" >

        function PasswordDidChange() {
            var ele = $('#InputPassword');
            var strEmail = ele.val();
            if (IsEmail(ele.val())) {
                ele.parents('div').removeClass('has-warning');
                ele.parents('div').addClass('has-success');
                ele.parents('div').children('span').removeClass('glyphicon-warning-sign');
                ele.parents('div').children('span').addClass('glyphicon-ok');
                $('#hitPwd').css({"display":"none"});
                $('#resetPwd').removeAttr('disabled');
            } else {
                ele.parents('div').addClass('has-warning');
                ele.parents('div').removeClass('has-success');
                ele.parents('div').children('span').addClass('glyphicon-warning-sign');
                ele.parents('div').children('span').removeClass('glyphicon-ok');
                $('#hitPwd').css({"display":"block"});
                $('#resetPwd').attr('disabled', 'disabled');
            }
        };

        $(function () {
            $('#InputPassword')[0].addEventListener("textInput", PasswordDidChange, false);

            $('#resetPwd').click(function () {
                // 1. check input is the same
                if ($('#InputPassword').val() != $('#ConfirmPassword').val()) {
                    $('#hitConPwd').css({"display":"block"});
                    return;
                }

                $('#hitConPwd').css({"display":"none"});

                // 2. sent request to the authorization server
                $.ajax({
                    url: '@Url.Action("ChangePassword", "ForgetPassword")',
                    method: 'Get',
                    dateType: 'json',
                    contentType: 'application/json, charset=utf-8',
                    data: {
                        chptoken: '@ViewBag.chptoken',
                        password: $('#InputPassword').val()
                    },
                    //beforeSend: function () {
                    //    Loading();
                    //},
                    //complete: function () {
                    //    hiddenLoading();
                    //},
                    success: function (data) {
                        alert(data);
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            });
        });
    </script>
}